:root {
  --nav-color: #23A4D5;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  overflow: auto;
}